// Import page-specific CSS files here.
@import "home";

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;


}

.card {
  width: 260px;
  height: 370px;
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.card-image {
  display: flex;
  justify-content: center;
}

.card-infos {
  margin-top: 5px;
}

.info-list {
  padding: 0px;
  max-height: 10px;
}

.info-list li {
  list-style: none;
  font-size: 11px;
}


.arrow-bottom-right {
  justify-content: flex-end;
  display: flex;
  position: relative;
  top: 44px;
}
.arrow-image {
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  margin-bottom: 5px;
  z-index: 1;

}
