  <div class="banner-home d-flex justify-content-center align-items-center">
    <div class="d-flex-column">
      <h1>Rental your Hero</h1>
        <p><%= link_to "Book now", characters_path, class:"btn btn-warning"%></p>
    </div>
  </div>
<div class="home-description">
  <div>
    <h2>Do you want to book your favorite hero ?</h2>
    <h3> You are at the good place</h3>
    <p>With HeroRental, you can book your favorit hero for different events</p>
    <ul>
      <li>Wedding</li>
      <li>Anniversary</li>
      <li>Chill moment</li>
      <li>EVG / EVJF</li>
      <li>Conference</li>
      <li>etc...</li>
      <li><%= link_to "Book now", characters_path, class:"btn btn-warning"%></li>
    </ul>

  </div>
</div>
