<div class="container">
  <div class="banner-home d-flex justify-content-center align-items-center">
    <div class="d-flex-column">
      <h1>Rental your Hero</h1>
      <p><%= link_to "Discover", "#", class:"btn btn-warning"%></p>
    </div>
  </div>
</div>
