  <div class="banner-home d-flex justify-content-center align-items-center">
    <div class="d-flex-column">
      <h1>Réserve ton Héros</h1>
        <p><%= link_to "Réserver maintenant", characters_path, class:"btn btn-warning"%></p>
    </div>
  </div>
<div class="home-description">
  <div>
    <h2>Tu veux réserver ton héros favori?</h2>
    <h3> Tu es au bon endroit</h3>
    <p>Avec HeroRental, tu peux réverser ton héros favori pour différents évènements.</p>
    <ul>
      <li>Mariage</li>
      <li>Anniversaire</li>
      <li>Moment de détente</li>
      <li>EVG / EVJF</li>
      <li>Conférence</li>
      <li>etc...</li>
      <li><%= link_to "Réserver maintenant", characters_path, class:"btn btn-warning"%></li>
    </ul>

  </div>
</div>
