.container-show {
  min-height: 90vh;
}

.card-show-character {
  padding: 12px;
  border-radius: 8px;
  background-color: black;
  color: #ffffff;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
