.container-show {
  min-height: 90vh;
}

.card-show-character {
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(218, 218, 218);
  color: #ffffff;
  width: 75%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.d-flex align-items-center mt-5 p-5 w-100 bg-white {
  background-color: #ece8e8;
}

.show-card {
  background-color: blue;
}


.bouton_reserver {
  background-color: #ffffff;
  border: solid 1px  #ff5044;
  color:  #ff5044;
  padding: 8px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 700;
}

.bouton_reserver:hover {
  background-color:  #ff5044;
  color:  #ffffff;
  border-radius: 4px;
 }

 .bouton_editer {
  background-color: #ffffff;
  border: solid 1px  #085ed6;
  color:  #085ed6;
  padding: 8px;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 700;
}

.bouton_editer:hover {
  background-color:  #085ed6;
  color:  #ffffff;
  border-radius: 4px;
 }

 a {
   text-decoration: none;
 }



img {
  object-fit: cover;
  object-position: top;
}
