.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 105px;
  margin-left: 10px;
}

.avatar dropdown-toggle {

}

#searchbar {
  width: 600px;
}


a {
  text-decoration: none;
  color: #4c4c4c;
  margin-right: 10px;
}
